<a href="https://colab.research.google.com/github/howellery/MPM_200_Howell/blob/main/Code/MPM200_Session9_HW_EHowell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Packages and Scientific Computing Libraries

"""
Python Packages Overview:
-------------------------
Packages in Python are collections of modules that provide reusable code and functionality.
They allow developers to organize and share complex code libraries that can be easily imported
and used across different projects.

Key Characteristics of Packages:
- Organized hierarchically
- Contain multiple related modules
- Can be installed using package managers like pip
- Extend Python's core functionality

Three Essential Data Science Libraries:
--------------------------------------
1. Pandas (pd):
   - Primary library for data manipulation and analysis
   - Provides DataFrame: a 2D labeled data structure with columns of potentially different types
   - Key Features:
     * Reading/writing data from various sources (CSV, Excel, SQL databases)
     * Data cleaning and preprocessing
     * Complex data transformations
     * Powerful data analysis and aggregation tools

2. NumPy (np):
   - Fundamental package for scientific computing in Python
   - Introduces the ndarray (n-dimensional array) for efficient numerical operations
   - Key Features:
     * High-performance multidimensional array object
     * Mathematical and statistical functions
     * Linear algebra operations
     * Foundation for scientific and numerical computing
     * Enables fast computations on large datasets

3. Matplotlib (plt):
   - Comprehensive library for creating static, animated, and interactive visualizations
   - Provides MATLAB-like plotting interface
   - Key Features:
     * Line plots, scatter plots, bar charts, histograms
     * Customizable plot styles and layouts
     * Support for multiple plot types and graph formats
     * Integration with NumPy for data visualization

Practical Significance:
----------------------
These libraries form the backbone of data science and scientific computing in Python,
enabling complex data analysis, numerical computations, and insightful visualizations
with minimal code.
"""

In [3]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the Excel file
df = pd.read_excel("Flavivirus host associations.xlsx")

# Display basic information about the dataset
print(df.info())

# Show the first few rows of the data
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sr no.                  570 non-null    int64
 1   Virus                   570 non-null    object
 2   Scientific Name         570 non-null    object
 3   Authors                 570 non-null    object
 4   Year                    430 non-null    object
 5   Title/accession number  570 non-null    object
 6   Journal                 425 non-null    object
 7   Issue                   415 non-null    float64
 8   Volume                  404 non-null    object
 9   Pages                   404 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 44.7+ KB
None

,sr no.,Virus,Scientific Name,Authors,Year,Title/accession number,Journal,Issue,Volume,Pages
0,3,Apoi virus,Rattus rattus,"C. M. Baak-Baak, N. Cigarroa-Toledo, O. M. Tor...",2016,New Records of Ectoparasites Echinolaelaps ech...,Southwestern Entomologist,NaN,NaN,NaN
1,2,Apoi virus,Myodes rufocanus,CDC Arbocat,NaN,CDC Arbocat,NaN,NaN,NaN,NaN
2,0,Apoi virus,Apodemus argenteus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
3,1,Apoi virus,Apodemus speciosus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
4,4,Bagaza virus,Alectoris rufa,"D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...",2012,Real-time fluorogenic reverse transcription po...,J Vet Diagn Invest,24.0,5,959-63

## Using pandas functions that you have seen in the class address following questions
1. How many entries are there in the dataset?
2. How many viruses are present in the dataset?
3. List those viruses.
4. How many rows of data are present for each virus?
5. How many host species are present in the data?
6. Make a list of host species present.
7. Count the number of unique host species for each virus.
8. Which virus has the most number of hosts?
9. Which host has most number of viruses?

In [4]:
# Exploring Virus and Species Diversity in the Dataset

df.columns

# Count total number of entries in the dataset

df.shape


# Count unique viruses

df['Virus'].nunique()

# List of unique viruses

df['Virus'].unique()

# Count of each unique virus

df.groupby('Virus').agg({'sr no.':'size'})

# Count unique host species

df['Scientific Name'].nunique()

# List of unique host species

df['Scientific Name'].unique()

# Count of host species for each virus

countsdf = df.groupby('Virus').agg({'Scientific Name':'nunique'})

# Most diverse viruses (viruses with most unique host species)


countsdf = countsdf.sort_values(by='Scientific Name', ascending=False)
countsdf.head(5)

                              Scientific Name
Virus
West Nile virus                           194
Tickborne encephalitis virus               83
St. Louis Encephalitis virus               72
Usutu virus                                65
Dengue virus                               27

# Metadata

## Given that we are interested in the metadata associated with these host species, we will import datasets associated with the metadata for both bird and mammalian species.

1. Birds

In [5]:
loc = 'Handbook of the Birds of the World and BirdLife International Digital Checklist of the Birds of the World_Version_9.xlsx'
birds_meta = pd.read_excel(loc)
birds_meta.head()

,Seq.,Subsp. Seq.,Order,Family name,Family,Subfamily,Tribe,Common name,Scientific name,Authority,2024 IUCN Red List category,Synonyms,Alternative common names,Taxonomic source(s),SISRecID,SpcRecID\n(used before SISRecID),SubsppID
0,1.0,0.0,STRUTHIONIFORMES,Struthionidae,Ostriches,NaN,NaN,Common Ostrich,Struthio camelus,"Linnaeus, 1758",LC,NaN,NaN,"del Hoyo, J., Collar, N.J., Christie, D.A., El...",45020636.0,1016860.0,NaN
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus syriacus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_1
2,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus camelus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_2
3,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus massaicus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_3
4,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus australis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_4

The data for birds is at subspecies level. It means that there is species name represented by column `Seq.`. All rows in same number represent one species.

2. Mammals

## Similarly, read file for mammals metadata.

In [6]:
loc = "IUCN Mammals, Birds, Reptiles, and Amphibians.csv"
mammals_meta = pd.read_csv(loc, encoding='latin-1')
mammals_meta.head()

,Species ID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Authority,Infraspecific rank,...,Synonyms,Common names (Eng),Common names (Fre),Common names (Spa),Red List status,Red List criteria,Red List criteria version,Year assessed,Population trend,Petitioned
0,42641.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abditomys,latidens,"(Sanborn, 1952)",NaN,...,NaN,Luzon Broad-toothed Rat,NaN,NaN,DD,NaN,3.1,2008.0,unknown,N
1,22687170.0,ANIMALIA,CHORDATA,AVES,CAPRIMULGIFORMES,TROCHILIDAE,Abeillia,abeillei,"(Lesson & DeLattre, 1839)",NaN,...,NaN,Emerald-chinned Hummingbird,NaN,NaN,LC,NaN,3.1,2012.0,decreasing,N
2,17879.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abeomelomys,sevia,"(Tate & Archbold, 1935)",NaN,...,Melomys sevia|Pogonomelomys sevia,"Menzies' Mouse, Menzies's Mouse, Highland Brus...",NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
3,47760825.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,CRICETIDAE,Abrawayaomys,ruschii,"Cunha & Cruz, 1979",NaN,...,NaN,Ruschi's Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
4,42656.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,ABROCOMIDAE,Abrocoma,bennettii,"Waterhouse, 1837",NaN,...,NaN,Bennett's Chinchilla Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N

## For both birds and mammals answer the following questions.
1. Size of the datasets
2. For birds, filter the dataset using species-level rows only. Hint. Column `Subsp. Seq.` value of 0 indicates the main species name
3. How many bird species and mammal species are present in data frames?

In [9]:
# Size of the datasets:
birds_meta.shape
mammals_meta.shape
# There are 23 columns and 16081 rows in the mammal set and 17 columns and 33265 rows in the bird set.

# Filter bird set to species level rows only:
birds_filter = birds_meta[birds_meta["Subsp. Seq."] == 0.0]

birds_filter.head()

# How many bird species and mammal species are present in the data frames?
birds_filter.shape

# There are 11204 species (not including subspecies) of birds and

(11204, 17)

# Database Integration Exercise
The main objective of this exercise is to create a comprehensive database by combining three data frames. Follow these steps  n your analysis.

## Create a concept map:  
* Illustrate the relationships between the three data frames.  
* Identify and highlight the Primary Keys in each data frame.  
* Use a diagramming tool (e.g., PowerPoint, LucidChart, or Draw.io) to create a visual representation of these connections.  
* Pay special attention to how you plan to merge the Mammals and Birds data frames.

## Perform a vertical join of Mammals and Birds data frames:  
* Identify and select only the common columns present in both data frames.  
* Use `pd.concat()` or `df.append()` to create a larger dataframe called **metadata**.  
* Ensure the resulting dataframe has the correct number of rows and columns.

## Merge the metadata dataframe with the Flavivirus dataframe:  
* Experiment with different join types: `inner`, `outer`, `left`, and `right`.  
* For each join type, record the resulting dataframe's shape (rows and columns).  
* Determine the **theoretically correct size of the merged dataframe if done manually**.  
* Compare the results of each join type with the expected outcome.  
* Choose the most appropriate join type based on your analysis.

### Create a pivote table,
1. Rows are virueses  
2. Columns are Taxonomic orders  
3. Values are number of unique host species